body {
    background-color: #C8A2C8;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.poem-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
}

.poem-text {
    font-family: 'Dancing Script', cursive;
    color: black; 
    font-size: 1em;
    line-height: 1.4em; 
    font-weight: bold; 
    text-align: center; 
}

.corner-image {
    position: absolute;
    max-width: 200px; 
}

.top-left { top: 0; left: 0; }
.top-right { top: 0; right: 0; }
.bottom-left { bottom: 0; left: 0; }
.bottom-right { bottom: 0; right: 0; }

p {
    margin: 0 0 10px 0;
}


@media (max-width: 768px) {
    .poem-container {
        position: relative;
        width: 90%; 
        margin: 50px auto;
        padding: 50px 0; 
    }

    .poem-text {
        font-family: 'Dancing Script', cursive;
        font-size: 8px; 
        line-height: 1.4em; 
        margin: 0; 
    }

    .corner-image {
        position: absolute; 
        max-width: 160px; 
        width: 20%;
        height: auto; 
    }

    .top-left {
        top: -15px; 
        left: -15px;
    }

    .top-right {
        top: -15px;
        right: -15px;
    }

    .bottom-left {
        bottom: -15px;
        left: -15px;
    }

    .bottom-right {
        bottom: -15px; 
        right: -15px;
    }

    #loveLetterButton {
        width: auto; 
        padding: 8px 16px; 
        font-size: 14px; 
        margin: 20px auto; 
    }
}

