body {
    position: relative;
    background-color: #C8A2C8; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden; 
}

#headerText {
    color: red; 
    font-size: 3em;
    text-align: center;
    margin-top: 20px; 
}
.button-container {
    text-align: center;
}

.button-container button {
    display: inline-block; 
    width: 200px; 
    margin: 10px;
    padding: 10px 20px; 
    font-size: 1em;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 20px; 
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

#gameButton {
    background-color: #008000;
}


#crosswordButton {
    background-color: #880012; 
}


#loveLetterButton {
    display: block;
    width: 200px;
    margin: 20px auto; 
    padding: 10px 20px; 
    font-size: 1em;
    cursor: pointer;
    background-color: #800080; 
    color: #fff;
    border: none;
    border-radius: 20px; 
    text-align: center;
    text-decoration: none;
}

.tulipdance {
    max-width: 100px; 
}



@media (max-width: 600px) {
    #headerText {
        font-size: 2em; 
        margin-top: 10px; 
    }

    #loveLetterButton {
        width: 150px;
        font-size: 0.8em;
        padding: 8px 0;
    }

    .tulipdance {
        max-width: 50px; 
    }

    .container {
        height: auto;
    }

    .button-container button {
        width: 150px; 
        font-size: 0.8em;
        padding: 8px 16px;
    }

}
